body {
	font-family: 'Lobster', cursive;
}

.colorBlock {
	background-color: black;
	height: 150px;
	margin: 2% 4%;
	box-shadow: 0 0 5px black;
}

.formFont {
	color: white !important;
}

#playDiv {
	text-align: center;
	visibility: hidden;
}

#formSender {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#formSender.show {
    visibility: visible;
}


.roundedCorners {
	border-radius: 25px;
}

.centeredText {
	text-align: center;
}

.centeredText {
	margin-top: 15px;
	font-size: 2.5em;
}
